#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_missing:
	dh_missing --fail-missing




override_dh_auto_build:
	$(MAKE) -C src TARGET=local LUA_ENABLE=no ZLIB_SYSTEM=yes -j

#override_dh_auto_configure:

override_dh_auto_install:
